.status-bar
    %div{ :class => "#{@status == 1 ? "status-image sel" : "status-image"}" } Color
    %div{ :class => "#{@status == 2 ? "status-image second sel" : "status-image second"}" } Body
    %div{ :class => "#{@status == 3 ? "status-image third sel" : "status-image third"}" } Notes
    %div{ :class => "#{@status == 4 ? "status-image fourth sel" : "status-image fourth"}" } Dryness
    %div{ :class => "#{@status == 5 ? "status-image fifth sel" : "status-image fifth"}" } Tannins