/ Navigation and subheader links
= render :partial => "shared/navigation"

/ Page content
.page-content.taste
	= render :partial => "shared/taste_links"
	.wine-image
		= image_tag("#{@wine_image}")
	.question-container.results
		%h1.taste
			Tipsi recommends:
			= @first_pick
		%p.description.light
			= @notes
		%h3
			Personal picks: 
		%ol 
			%li 
				= @first_bottle_1
			%li 
				= @first_bottle_2
			%li 
				= @first_bottle_3
		.question-content
			%h1 You may also enjoy:
			.other-varietals
				%h3
					%a{ :href => "#{@second_pick_link}"}
						= @second_pick
				%p.light
					= @second_bottle
			.other-varietals{ :style => "margin-left: 15px;"}
				%h3
					%a{ :href => "#{@third_pick_link}"}
						= @third_pick
				%p.light
					= @third_bottle
			.clear