/ Navigation links
= render :partial => "shared/navigation"

/ Page content
.page-content-wide
    %h1.app Tour the app
    %h4.app ...coming in May
    .callout-div-left
        = image_tag( "app-summary-3.png", :id => "callout-1" )
        .callout-text#one
            %h4 Pick a Pairing
            %p Get the perfect wine every time, tailored to your meal choice and personal taste.
    / %p More text
    = image_tag( "app-shot-restaurants.png", :style => "width: 315px; display: inline;", :id => "app-image" )    
    .callout-div-right
        = image_tag( "app-summary-2.png", :id => "callout-2" )
        .callout-text#two
            %h4 Personalized Recommendations
            %p Selected from your preferences.
        = image_tag( "app-summary-2.png", :id => "callout-3" )
        .callout-text#three
            %h4 View your Cellar
            %p Add wines to your cellar to always remember your favorites!
