<!DOCTYPE html>
%html
%head
	%title #{@title} | Tipsi
	%link{ :href => "images/favicon.ico", :rel => "shortcut icon", :type => "image/ico" }
	= stylesheet_link_tag "all"
	= javascript_include_tag 'jquery-1.7.2.js', 'application.js'
	= csrf_meta_tag
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-31948616-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
%head
%body   
	.main-container
		.content-background
			.content-container
				.header
					%a{ :href => "/" }
						=image_tag( "tipsi-logo.png", :class => "logo" )
					/ = link_to "Login", root_path, { :class => "header-link" }
					/ = link_to "Sign Up", root_path, { :class => "header-link" }
					%a{ :href => "/app"}
						=image_tag( "app-store-badge.png", :class => "app-store" )
				= yield
				.clear
		.footer
			%a{ :class => "footer-link", :href => "mailto:careers@wine-wiz.com" } Careers
			%a{ :class => "footer-link", :href => "/app" } Store
			%a{ :class => "footer-link", :href => "mailto:corporate@wine-wiz.com" } Partner
			%a{ :class => "footer-link", :href => "mailto:info@wine-wiz.com" } Contact
			/ %a{ :class => "footer-link", :href => "/press" } Press
			%a{ :class => "footer-link", :href => "/terms", :target => 'blank' } Terms
			%a{ :class => "footer-link", :href => "/privacy", :target => 'blank' } Privacy
			= image_tag( "light-icon.png", :class => "icon")